body{
    background-color:white;
}
#chessboard{
    border-collapse: collapse;
    margin:auto;
}
.cell{
    width: 75px;
    height:75px;
    border:1px solid #7f5733;
    cursor:pointer;
    position: relative;
    z-index:-1;
}
.white{
    color:#00ffcc;
}
.black{
    color:#666633;
}
.dot {
    
    background-color: #FF5454;
    height: 80%;
		width: 80%;
		margin: auto;
		border-radius: 50%;
		position: absolute;
		opacity: 0.9;
		top:1px;
    	bottom:1px;
    	left:1px;
        right:1px;
        z-index:-1;
  }