:root{
    --rot:0deg;
}
body{
    background-color:white;
}
#chessboard{
    border-collapse: collapse;
    margin:auto;
    transition :twidth 1s, height 1s, transform 1s;
    transform: rotate(var(--rot));
}
.cell{
    width: 70px;
    height:70px;
    border:1px solid #7f5733;
    cursor:pointer;
    position: relative;
    z-index:-1;
    transform: rotate(var(--rot));
}
.white{
    color:#00ffcc;
}
.black{
    color:#666633;
}
.dot {
    
    background-color: #FF5454;
    height: 80%;
	width: 80%;
	margin: auto;
	border-radius: 50%;
	position: absolute;
	opacity: 0.9;
	top:1px;
    bottom:1px;
    left:1px;
    right:1px;
    z-index:-1;
  }
  .white,.black{
        cursor:grab;
  }
  .grabber{
      cursor: grabbing;
  }
select#choose option[value="horse"]   { background-image:url("icons/horse_black.png");   }
select#choose option[value="camel"] { background-image:url("icons/camel_black.png"); }
select#choose option[value="elephant"] { background-image:url("icons/elephant_black.png"); }
select#choose option[value="queen"] { background-image:url("icons/queen_black.png"); }

.check {
    
    background-color: #fff173;
    height: 100%;
		width: 100%;
		margin: auto;
		
		position: absolute;
		opacity: 0.9;
		top:1px;
    	bottom:1px;
    	left:1px;
        right:1px;
        z-index:-1;
  }
  .mate {
    background-color: #ff3333;
    height: 100%;
		width: 100%;
		margin: auto;
		
		position: absolute;
		opacity: 0.9;
		top:1px;
    	bottom:1px;
    	left:1px;
        right:1px;
        z-index:-1;
  }
  .results{
      background-color: #fff173;
      margin: auto;
      font-size: 30px;
      width: 20%;
      height: auto;
      display: none;
      text-align: center;
      
      font-family: 'ABeeZee';
  }
  [type=radio]{
      height: 0;
      width: 0;
      opacity: 0;
  }
  [type=radio] + label {
    cursor: pointer;
  }
  
  /* CHECKED STYLES */
  [type=radio]:checked + label + img {
    outline: 2px solid #f00;
  }

  img{
    margin: auto;
  }

  .flip{
    transition :twidth 1s, height 1s, transform 1s;
    transform: rotate(180deg);
  }
  .flipr{
    transition :twidth 1s, height 1s, transform 1s;
    transform: rotate(0deg);
  }
  .undo{
   width: 99px;
    height: 50px;
    background-color: #0ead0e;
    color: white;
    border: none;
    padding: 0;
    margin: 10px;
    font-size: 17px;
    font-family: calibri;
    cursor: pointer;
  }
  #choose_user{
    width: 500px;
    margin: auto;
    height: 300px;
    box-shadow: 2px 3px 10px 6px #686060;
    position: absolute;
    z-index: 5;
    top: 25%;
    right: 30%;
    background-color: white;
    display:flex;
  }
  .user_sel{
    width:49%;
    height:75%;
  }
  .modal {
    display: block; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #88ff;
    width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius:5px;
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
    
  .modal-body {
  padding: 2px 16px;
  
  }

.selection {
    border: 1px solid green;
    border-radius: 10px;
    margin: 10px 25px 10px 25px;
    display: inline-block;
    padding: 10px;
}
.selection:hover{
  border: 3px solid blue;
}
.selection img {
  width:100px;
}
#select{
  margin: auto;
  display: table;
}
#fname{
  margin: auto;
  display: flex;
  width: 80%;
  border-radius: 5px;
  border: 1px solid rgb(136, 115, 115);
  height: 40px;
  font-size: 20px;
  padding: 10px;
  font-style: italic;
}
#start{
  background-color:rgb(245, 60, 60);
  border-radius: 5px;
  margin: auto;
  display:flex;
  border: 0px;
  box-shadow: none;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  cursor: pointer;
}