body{
    background-color:white;
}
#chessboard{
    border-collapse: collapse;
    margin:auto;
}
.cell{
    width: 75px;
    height:75px;
    border:1px solid #7f5733;
    cursor:pointer;
}
.white{
    color:#00ffcc;
}
.black{
    color:#666633;
}